# Edit values and rename this file to `.env`, scripts and binaries source it before running.

# Address of the upload server, you should receive this one.
UPLOAD_SERVER_ADDRESS=127.0.0.1:8765

# API key you have been given
API_KEY="foobar"

# Name of the crate with your WASM bomberman actor. Must exist in the workspace.
CRATE_NAME="player"
